In [1]:
import sys
import pandas as pd
import sklearn
from tensorflow import keras

print('Python: {}'.format(sys.version))
print('Pandas: {}'.format(pd.__version__))
print('Sklearn: {}'.format(sklearn.__version__))
print('Keras (from TensorFlow): {}'.format(keras.__version__))

Python: 3.11.12 (main, Apr  9 2025, 08:55:54) [GCC 11.4.0]
Pandas: 2.2.2
Sklearn: 1.6.1
Keras (from TensorFlow): 3.8.0

In [2]:
# Mount Google Drive ke Google Colaboratory
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# import dataset dari google drive
file = '/content/drive/My Drive/SEMESTER 6/ADK/Tugas Besar/Autism-Child-Data.txt'

# Daftar nama kolom
columns = [
    'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10',
    'age', 'gender', 'ethnicity', 'jaundice', 'family_history',
    'country_of_residence', 'used_app_before', 'screening_score',
    'age_desc', 'relation', 'class'
]
# Dataset dibaca dari file .txt dengan pemisah koma (,), dan diberi nama kolom manual
data = pd.read_table(file, sep = ',', index_col = None, names=columns)

In [4]:
data

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,gender,ethnicity,jaundice,family_history,country_of_residence,used_app_before,screening_score,age_desc,relation,class
0,1,1,0,0,1,1,0,1,0,0,...,m,Others,no,no,Jordan,no,5,'4-11 years',Parent,NO
1,1,1,0,0,1,1,0,1,0,0,...,m,'Middle Eastern ',no,no,Jordan,no,5,'4-11 years',Parent,NO
2,1,1,0,0,0,1,1,1,0,0,...,m,?,no,no,Jordan,yes,5,'4-11 years',?,NO
3,0,1,0,0,1,1,0,0,0,1,...,f,?,yes,no,Jordan,no,4,'4-11 years',?,NO
4,1,1,1,1,1,1,1,1,1,1,...,m,Others,yes,no,'United States',no,10,'4-11 years',Parent,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,1,1,1,1,1,1,1,1,1,1,...,f,White-European,yes,yes,'United Kingdom',no,10,'4-11 years',Parent,YES
288,1,0,0,0,1,0,1,0,0,1,...,f,White-European,yes,yes,Australia,no,4,'4-11 years',Parent,NO
289,1,0,1,1,1,1,1,0,0,1,...,m,Latino,no,no,Brazil,no,7,'4-11 years',Parent,YES
290,1,1,1,0,1,1,1,1,1,1,...,m,'South Asian',no,no,India,no,9,'4-11 years',Parent,YES
291,0,0,1,0,1,0,1,0,0,0,...,f,'South Asian',no,no,India,no,3,'4-11 years',Parent,NO

In [5]:
# Print shape of the DataFrame, agar kita bisa lihat berapa banyak data yang ada dalam dataset
print('Shape of DataFrame: {}'.format(data.shape))
print(data.loc[0])

Shape of DataFrame: (292, 21)
A1                                 1
A2                                 1
A3                                 0
A4                                 0
A5                                 1
A6                                 1
A7                                 0
A8                                 1
A9                                 0
A10                                0
age                                6
gender                             m
ethnicity                     Others
jaundice                          no
family_history                    no
country_of_residence          Jordan
used_app_before                   no
screening_score                    5
age_desc                '4-11 years'
relation                      Parent
class                             NO
Name: 0, dtype: object

In [6]:
# print data untuk 11 pertama pasien
print(data.loc[:10])

    A1  A2  A3  A4  A5  A6  A7  A8  A9  A10  ... gender          ethnicity  \
0    1   1   0   0   1   1   0   1   0    0  ...      m             Others
1    1   1   0   0   1   1   0   1   0    0  ...      m  'Middle Eastern '
2    1   1   0   0   0   1   1   1   0    0  ...      m                  ?
3    0   1   0   0   1   1   0   0   0    1  ...      f                  ?
4    1   1   1   1   1   1   1   1   1    1  ...      m             Others
5    0   0   1   0   1   1   0   1   0    1  ...      m                  ?
6    1   0   1   1   1   1   0   1   0    1  ...      m     White-European
7    1   1   1   1   1   1   1   1   0    0  ...      f  'Middle Eastern '
8    1   1   1   1   1   1   1   0   0    0  ...      f  'Middle Eastern '
9    0   0   1   1   1   0   1   1   0    0  ...      f                  ?
10   1   0   0   0   1   1   1   1   1    1  ...      m     White-European

   jaundice family_history country_of_residence used_app_before  \
0        no             no               Jordan              no
1        no             no               Jordan              no
2        no             no               Jordan             yes
3       yes             no               Jordan              no
4       yes             no      'United States'              no
5        no            yes                Egypt              no
6        no             no     'United Kingdom'              no
7        no             no              Bahrain              no
8        no             no              Bahrain              no
9        no            yes              Austria              no
10      yes             no     'United Kingdom'              no

   screening_score      age_desc relation class
0                5  '4-11 years'   Parent    NO
1                5  '4-11 years'   Parent    NO
2                5  '4-11 years'        ?    NO
3                4  '4-11 years'        ?    NO
4               10  '4-11 years'   Parent   YES
5                5  '4-11 years'        ?    NO
6                7  '4-11 years'   Parent   YES
7                8  '4-11 years'   Parent   YES
8                7  '4-11 years'   Parent   YES
9                5  '4-11 years'        ?    NO
10               7  '4-11 years'     Self   YES

[11 rows x 21 columns]

In [7]:
#print data t#print data yang mana dapat membantu kita untuk mengolah dataset
data.describe()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,screening_score
count,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000
mean,0.633562,0.534247,0.743151,0.551370,0.743151,0.712329,0.606164,0.496575,0.493151,0.726027,6.239726
std,0.482658,0.499682,0.437646,0.498208,0.437646,0.453454,0.489438,0.500847,0.500811,0.446761,2.284882
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,6.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000

In [8]:
# cek kolom mana yang berisi kategorikal (object)
data.dtypes

A1                       int64
A2                       int64
A3                       int64
A4                       int64
A5                       int64
A6                       int64
A7                       int64
A8                       int64
A9                       int64
A10                      int64
age                     object
gender                  object
ethnicity               object
jaundice                object
family_history          object
country_of_residence    object
used_app_before         object
screening_score          int64
age_desc                object
relation                object
class                   object
dtype: object

In [9]:
import numpy as np
data.replace("?", np.nan, inplace=True) # mengganti value "?" menjadi NaN
# drop kolom yang tidak dibutuhkan
data = data.drop(['screening_score', 'age_desc'], axis=1)
print(data.isna().sum())  # Melihat jumlah nilai NaN per kolom

A1                       0
A2                       0
A3                       0
A4                       0
A5                       0
A6                       0
A7                       0
A8                       0
A9                       0
A10                      0
age                      4
gender                   0
ethnicity               43
jaundice                 0
family_history           0
country_of_residence     0
used_app_before          0
relation                43
class                    0
dtype: int64

In [10]:
# Bagi dataset menjadi 2 bagian x dan y . x adaklah attribute yang kita gunakan untuk prediksi dan y adalah yang menjadi class atau label
x = data.drop(['class'], axis=1)
y = data['class']

In [11]:
# print out x dan kolom class sudah terhapus
x

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,age,gender,ethnicity,jaundice,family_history,country_of_residence,used_app_before,relation
0,1,1,0,0,1,1,0,1,0,0,6,m,Others,no,no,Jordan,no,Parent
1,1,1,0,0,1,1,0,1,0,0,6,m,'Middle Eastern ',no,no,Jordan,no,Parent
2,1,1,0,0,0,1,1,1,0,0,6,m,NaN,no,no,Jordan,yes,NaN
3,0,1,0,0,1,1,0,0,0,1,5,f,NaN,yes,no,Jordan,no,NaN
4,1,1,1,1,1,1,1,1,1,1,5,m,Others,yes,no,'United States',no,Parent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,1,1,1,1,1,1,1,1,1,1,7,f,White-European,yes,yes,'United Kingdom',no,Parent
288,1,0,0,0,1,0,1,0,0,1,7,f,White-European,yes,yes,Australia,no,Parent
289,1,0,1,1,1,1,1,0,0,1,4,m,Latino,no,no,Brazil,no,Parent
290,1,1,1,0,1,1,1,1,1,1,4,m,'South Asian',no,no,India,no,Parent
291,0,0,1,0,1,0,1,0,0,0,4,f,'South Asian',no,no,India,no,Parent

In [12]:
# Membagi data: 80% untuk latih, 20% untuk uji
# random_state=42 agar hasil pembagian selalu sama jika dijalankan ulang
# stratify=y agar proporsi kelas YES/NO di data latih & uji sama (penting!)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
print("\nUkuran data setelah di-split:")
print("X_train:", X_train.shape)
print("X_test:", X_test.shape)
print("y_train:", y_train.shape)
print("y_test:", y_test.shape)

Ukuran data setelah di-split:
X_train: (233, 18)
X_test: (59, 18)
y_train: (233,)
y_test: (59,)

In [13]:
#Gabungkan X_train dan X_test Ini penting agar kategori di data latih dan uji di-encode dengan cara yang sama.
X_combined = pd.concat([X_train, X_test], axis=0)

X_encoded = pd.get_dummies(X_combined, drop_first=True)

# Split kembali setelah encoding
X_train_encoded = X_encoded.iloc[:len(X_train)]
X_test_encoded = X_encoded.iloc[len(X_train):]

print(f"\nShape setelah OHE:")
print(f"X_train_encoded: {X_train_encoded.shape}")
print(f"X_test_encoded: {X_test_encoded.shape}")
print(f"\nJumlah fitur bertambah dari {X_train.shape[1]} menjadi {X_train_encoded.shape[1]}")

#  Jika ada nilai kosong setelah encoding, diisi dengan nilai yang paling sering muncul di kolom tersebut (most_frequent)
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')
X_train_encoded = pd.DataFrame(imputer.fit_transform(X_train_encoded),
                              columns=X_train_encoded.columns,
                              index=X_train_encoded.index)
X_test_encoded = pd.DataFrame(imputer.transform(X_test_encoded),
                             columns=X_test_encoded.columns,
                             index=X_test_encoded.index)

print("\nContoh fitur setelah OHE:")
print(X_train_encoded.columns.tolist()[:20])  # Tampilkan 20 fitur pertama

Shape setelah OHE:
X_train_encoded: (233, 85)
X_test_encoded: (59, 85)

Jumlah fitur bertambah dari 18 menjadi 85

Contoh fitur setelah OHE:
['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'age_11', 'age_4', 'age_5', 'age_6', 'age_7', 'age_8', 'age_9', 'gender_m', "ethnicity_'South Asian'", 'ethnicity_Asian']

In [14]:
X_train_encoded #cek hasil OHE

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,country_of_residence_Romania,country_of_residence_Russia,country_of_residence_Sweden,country_of_residence_Syria,country_of_residence_Turkey,used_app_before_yes,relation_Parent,relation_Relative,relation_Self,relation_self
210,1,0,1,1,1,1,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
229,1,1,1,1,0,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
226,0,0,0,0,1,1,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
73,1,0,1,1,1,1,0,1,1,1,...,0,0,0,0,0,0,1,0,0,0
25,0,0,1,1,1,0,1,1,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,0,0,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
71,0,1,0,0,1,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
106,1,1,1,1,1,1,0,0,1,1,...,0,0,0,0,0,0,1,0,0,0
270,0,1,1,1,1,1,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
102,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [15]:
X_train_encoded.loc[1]

A1                     1
A2                     1
A3                     0
A4                     0
A5                     1
                      ..
used_app_before_yes    0
relation_Parent        1
relation_Relative      0
relation_Self          0
relation_self          0
Name: 1, Length: 85, dtype: int64